*.log
VarnamCLR/VarnamCLRTest/obj/Debug/*
VarnamCLR/ipch/*
VarnamCLR/VarnamCLR/Debug/*
VarnamCLR/VarnamCLRTest/bin/*
ime/C++/.vs/*
ime/C++/Debug/*
ime/C++/SampleIME/Debug/*
*.tlog
*.obj
*.pdb
*.idb
ime/C++/VarnamIME.VC.VC.opendb
ime/C++/VarnamIME.VC.db
ime/C++/Release/*
ime/C++/SampleIME/Release/*
ime/C++/SampleIME/deps/libvarnam/*
